 .homePageWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
 }
 .formWrapper{
    background: #282a36;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
 }
 .footer{
    position: fixed;
    bottom:0;
 }
 footer a {
    color: #4aee88;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}
.mainLabel {
    margin-bottom: 20px;
    margin-top: 0;
}

.homePageLogo {
    height: 80px;
    margin-bottom: 30px;
}
